h3{
    text-align: center;
}

.header{
    margin-top: 12.5%;
    margin-bottom: 30px;
}

.button1{
    margin-left: 10px;
}

#select{
    margin-bottom: 10px;
    width: 30%;
}

#rentbutton{
    margin-top: 10px;
    margin-left: 13.5%;
}

.form-container{
    margin-left: 41%;
}